node_modules/
package-lock.json
.env
server/images/home/*
server/images/products/*
server/invoices/*
server/database/backups/*
!server/images/home/.gitkeep
!server/images/products/.gitkeep
!server/invoices/template/
!server/database/backups/.gitkeep