node_modules/
.env
server/images/home/*
server/images/products/*
server/invoices/*
server/database/backups/*
!server/images/home/.gitkeep
!server/images/products/.gitkeep
!server/invoices/.gitkeep
!server/database/backups/.gitkeep
!server/invoices/template/